Cython
librosa==0.8.0
matplotlib
numpy==1.19.5
scipy
tensorboard
unidecode
jamo
pypinyin
jieba
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration
num_thai
opencc
ipython
gradio
