Cython==0.29.21
librosa==0.8.0
matplotlib==3.3.1
numpy==1.19.5
numba==0.56.4
scipy==1.10.1
tensorboard
Unidecode==1.1.1
jamo
pypinyin
pyopenjtalk==0.2.0
jieba
protobuf
cn2an
inflect
eng-to-ipa
ko_pron
indic_transliteration
num_thai
opencc
ipython
gradio
gdown